.causatum-tray {
  position: fixed;
  background-color: #eeeeee;
  top: -2px;
  left: -400px;
  width: 400px;
  height: 100%;
  z-index:999999997 !important;
}  
.causatum-shade {
  position: absolute;
  left: 400px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAABCAYAAAAMwoR9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK8AAACvABQqw0mAAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNAay06AAAAAWdEVYdENyZWF0aW9uIFRpbWUAMTIvMjMvMTFDgQuOAAAAGUlEQVQImWNkYGCoZmBg+MDAwPARiUZhAwCA4ggCjSmLFgAAAABJRU5ErkJggg==);
  width: 9px;
  height: 100%;
  z-index:999999999;  
}
.causatum-frame {
  width: 396px;
  height: 100%;
}
.causatum-content {
  position: absolute;
  background-color: #eeeeee;
  left: 00px;
  width: 400px;
  height: 100%;
  z-index:999999999;
}  

.causatum-icon {
  color: white;
  cursor: pointer;
}

.causatum-icon:hover {
  color: grey;
  cursor: pointer;
}
.causatum-icons {
  position: absolute;
  left: 360px;
  background-color: #666666;
  width: 40px;
  height: 100%;
  z-index:999999998;
  }